.navbar {
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.navbar__content {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  img {
    width: 7rem;
  }
  ul {
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;
    font-size: 20px;

    li {
      cursor: pointer;
    }
  }
}
.navbar__brand {
  display: flex;
  align-items: center;
}
.login {
  cursor: pointer;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .navbar__content {
    width: 100%;
  }
}
