.login__wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.418);
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 4rem;
    background-color: white;
    gap: 2rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 6px 0px #6b6b6b;
    box-shadow: 0px 3px 6px 0px #6b6b6b;
  }
  button {
    background-color: #20a3d8;
    color: white;
    width: 10rem;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
  }
  span {
    color: red;
  }
  h1 {
    color: #20a3d8;
  }
}
.input__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: rgba(0, 0, 0, 0.897);
  font-size: 18px;
  font-weight: 600;
  input {
    padding: 1rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .login__wrapper {
    form {
      width: 90%;
    }
  }
}
