.footer {
  background-color: var(--main-bg-color);
  display: flex;
  width: 100%;
  justify-content: center;
}
.footer__content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem 0;
  img {
    width: 6rem;
  }
}
.icons {
  font-size: 30px;
  display: flex;
  gap: 20px;
  svg {
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .footer__content {
    flex-direction: column;
    gap: 20px;
  }
}
